.page {
    padding : 5px;
}
.header {
    background : rgb(50, 122, 180);
    height : 115px;
    width : 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.back-color {
}
#logo {
    width : 100px;
    height : 100%;
    border : solid 2px black;
    border-radius: 30px;
}
.main-header {
    width: 1170px;
    padding: 1px;
    display : flex;
    justify-content:space-between;
    align-items:center;
}
.header-text {
    color: aliceblue;
    font-size : 26px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-wrap {
    height: 30px;
}
.heading-title {
    margin: 20px 0 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navigation {
    display: flex;
    justify-content:space-around;
    align-items:center;
}
nav a {
    border : solid 2px black;
    text-decoration: none;
    color: #ffffff;
    background-color: #272727;
    font-size: 30px;
    height: 50px;
    margin: 10px;
    width : 100%;
    text-align: center;
    line-height: 45px;
}

.product, .heading-img , .return-content{
    width : 1140px;
}
.popular {
    display: flex;
    flex-direction: column;
}
.sections {
    display: flex;
    justify-content: center;
}

.new-title {
    padding : 0 10px;
    background: #ffffff;
    color: #333333;
    text-align: center;
    font-size: 30px;
}
.line {
    border : solid 1px #cccccc;
    width: 100%;
    height: 0;
}
.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 5px;
}
.item {
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 226px;
    border: 1px solid #cccccc;
    padding: 3px;
    background-color: #abc6e6;
    border-radius: 5px;
}
.item img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.popular .item img, .recommended .item img {
    width: 150px;
    height: 200px;
}
.item span {
    font-size : 30px;
}
.item p {
    text-align: justify;
    padding: 15px;
}

.footer {
    background-color: #272727;
    height : auto;
    width : 100%;
}
.footer-info {
    display: flex;
    flex-direction:column;
}
footer  {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: #616161;
    display: flex;
    justify-content: center;
}
.footer-about {
    display: flex;
    justify-content: space-around;
}
.footer-info {
    width: 1170px;
}

footer li {
    list-style: none;
    font-size: 18px;
}
 footer a:hover {
    color:white;
}
footer ol {
  padding: 0;
}
footer a {
    text-decoration: none;
    color: #616161;
}
.social {
    display: flex;
    justify-content: space-around;
}

.contacts-info ol{
    padding: 0;
}

.contacts-info li {
    list-style: none;
}
.contacts-info a, .contacts-info span {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
}

.office {
    margin-bottom: 30px;
}

.return-content h1{
    text-align: center;
}
.return-content p, .return-content li {
    font-weight: 400;
    font-size: 20px;
    color: #333333;
    line-height: 1.4;
}
.return-content h2 {
    font-size: 30px;
}
.consumator {
    list-style: none;
    padding: 0;
}

.delivery-mod .item, .pay-mod .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.delivery-mod img {
    width: 336px;
    height: 200px;
    margin-bottom: 10px;
}
.pay-mod img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.delivery-mod span, .pay-mod span {
    font-size: 25px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}
.delivery-mod p, .pay-mod p {
    font-size: 20px;
    color: #616161;
} 
.active {
    background-color: rgb(161, 160, 160);
}